[2017-11-23 01:54] ramsey opened #5 "Incorrect string value error when inserting into table"
I created a table in MySQL 5.7 using the following migration class:

[code]

For MySQL, Laravel creates an `id` column of type `CHAR(36)` set as the primary key.

Unfortunately, when attempting to save a model, I received an error:

[code]

I tried several Laravel column type definition variations, including `binary()`, which uses MySQL's `BLOB` type instead of `BINARY` or `VARBINARY` and generate

[2017-11-23 02:13] ramsey commented on #5
I found a work-around that does the job without having to write raw SQL. Setting the `charset()` to "binary" on a `CHAR(16)` column effectively forces MySQL to create the column as `BINARY(16)`.

[code]

I'm assuming this might also work with the `uuid()` Blueprint type but that may end up creating a `BINARY(36)` column, which might not be preferable.

[2017-11-23 08:40] brendt commented on #5
Hi Ben

One of the things this package does, is override the `uuid` grammar for MySQL and SQLite. When using `$table->uuid()`, it should automatically use `BINARY` as its column type instead of `BLOB`:

- https://github.com/spatie/laravel-binary-uuid/blob/master/src/MySqlGrammar.php
- https://github.com/spatie/laravel-binary-uuid/blob/master/src/SQLiteGrammar.php

Are you saying this didn't happen

[2017-11-23 19:24] ramsey commented on #5
This did not happen for my project, but maybe I missed a step in setting it up. How do you register the service provider? I have a feeling that's the step I missed.

[2017-11-23 22:11] ramsey commented on #5
Once I added `Spatie\BinaryUuid\UuidServiceProvider::class` to the providers array in `config/app.php`,  `$table->uuid('id')` worked as expected, creating a `BINARY(16)` column, so I'm closing this issue. Thanks!

[2017-11-23 22:11] #5 closed

[2017-11-24 06:00] brendt commented on #5
Hi Ben

There was a day or so during development in which the auto registration of the service provider was broken, it's my guess that you required this repo during that time :)

[2017-11-24 15:07] ramsey commented on #5
That could be. I also upgraded Laravel from 5.4 to 5.5 because I couldn’t install this package, so I may have installed it before adding one of the new scripts to `composer.json` that help support auto registration.

[2017-11-29 14:10] barryvdh opened #8 "Use OrderedTimeCodec from ramsey/uuid"
The re-ordered encoding is also supported by ramsey/uuid, see https://github.com/ramsey/uuid/blob/master/src/Codec/OrderedTimeCodec.php

Perhaps it's easier to use that instead?

See for background https://github.com/ramsey/uuid/pull/118

[2017-11-29 14:30] freekmurze commented on #8
Thanks for letting us know. This has been taken care of in `v1.0.1`.

[2017-11-29 14:30] #8 closed

[2017-11-30 04:36] faustbrian opened #13 "json_encode results in JSON_ERROR_UTF8 because of uuid field"
Currently it is not possible to json serialize any model that uses this package because the uuid field is in binary format.

[code]

I am currently solving this issue by using `protected $hidden = ['uuid'];` and `protected $appends = ['id']` where ID is the method from here https://github.com/spatie/laravel-binary-uuid/pull/12

It might be worth considering to replace the uuid field data with the

[2017-11-30 04:55] faustbrian opened #14 "Rename typeUuid to typeUuidBinary to allow use of normal UUIDs"
Currently it is not possible to use normal UUIDs for other fields as the `typeUuid` method overwrites the original uuid method that Laravel comes with.

It would be good if it would be possible to have 2 distinct functions for `uuid` and `uuidBinary` to allow use of both as the package doesn't automatically store every uuid type field as an optimised UUID.

A use case for that would be invite code

[2017-11-30 04:57] faustbrian commented on #13
This is what I currently use as a workaround for all my models.

[code]

[2017-11-30 07:31] freekmurze commented on #14
I like the idea, but I don't see how we can implement this now in a non breaking way. Closing for now, but will take a look again when creating a new major version

[2017-11-30 07:32] freekmurze commented on #13
@brendt didn't we take care of this while developing the package?

[2017-11-30 07:43] faustbrian commented on #14
What would you recommend as a workaround then? Currently you can either use this package for primary keys and use unoptimised field types for other UUID fields or just don't use this package at all.

[2017-11-30 07:52] freekmurze commented on #14
L

[2017-11-30 07:54] freekmurze commented on #14
Let's do this is in a non breaking way. Let's leave `typeUuid ` as it is for new and add `typeUuidText`.

In the next major version we could remove the override of `typeUuid ` and add `typeUuidBinary`.

I'd accept a PR for this.

[2017-11-30 08:07] brendt commented on #13
This packages takes care of part of this problem. Namely when a model is serialised in queues.

I'll answer on the concrete solution in PR #12

[2017-11-30 08:07] #13 closed

[2017-11-30 08:17] faustbrian commented on #14
https://github.com/spatie/laravel-binary-uuid/pull/15
https://github.com/spatie/laravel-binary-uuid/pull/16

[2017-11-30 09:31] brendt commented on #14
There's a little bit more to it than this I'm afraid.

Adding a custom type was also the first solution I went for, but it only solves half the problem.

#15 and #16 add the type to the Grammar classes, but there's no support yet to call that method from the blueprint.

[code]

You could extend Laravel's `Blueprint` class to add the functionality, but that class internally is always re-created on

[2017-11-30 09:40] faustbrian commented on #14
This could be a possible solution @brendt

[code]

[code]

[code]

[2017-11-30 09:45] brendt commented on #14
Yes. Though I'd like to avoid overriding a class like `MySqlConnection`. It doesn't feel right if this package starts messing with such a key component.

[2017-11-30 11:30] faustbrian opened #19 "Package breaks Laravel Notifications because of overwrites"
Laravels database notifications use `$table->uuid('id')->primary();` by default so using this package breaks them which results in `SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'id' at row 1`.

`$table->char('id', 36)->primary();` solves the issue but having to change the default migrations is kinda off-putting.

[code]

[2017-11-30 12:02] danilosilva87 opened #20 "Does it support for lumen 5.5?"
I made an installation of this package in my project that I'm using lumen 5.5 and I had this error, but I did not find anything in the documentation talking about lumen support.

[code]
[code]

Thank you

[2017-11-30 12:18] freekmurze commented on #20
At out company we don’t use Lumen and don’t provide support for that in our packages.

If there’s a easy way to make this package Lumen compatible, feel free to send a PR.

[2017-11-30 12:18] #20 closed

[2017-12-01 11:13] brendt commented on #19
Any thoughts besides what already discussed in #14 how we could fix this problem?

@freekmurze do you have any input?

[2017-12-01 18:26] elliotfehr opened #24 "UUID is not properly formatted"
The article linked in the readme describes how to format uuid v1 for mysql, however it does not appear that this library is correctly optimizing.  While storing the UUID as a binary is a massive improvement over storing it as a `CHAR`/`VARCHAR`, it is only part of the problem.

A standard UUID v1 will generate a very poor primary key as the first half of the UUID is based on time while the second

[2017-12-01 21:08] brendt commented on #24
That's what's happing by using `OrderedTimeCodec` set in https://github.com/spatie/laravel-binary-uuid/blob/master/src/UuidServiceProvider.php#L47

Am I missing something?

[2017-12-01 21:39] elliotfehr commented on #24
Ahh I was looking for where that was done!

[2017-12-01 21:39] #24 closed

[2017-12-04 20:26] freekmurze commented on #19
The easiest solution would be to add a little note in the readme with instructions on how to edit the default migration.

Let's do that first, maybe that is good enough for most.

[2017-12-05 06:58] steve3d commented on #14
agreed with @brendt , you should use `$table->char('textual_uuid', 36)` to add a normal text uuid.

[2017-12-07 18:39] francislavoie opened #25 "JSON serialization still doesn't work"
[code]

This is when trying to create the model during a DB seeder. I'm just doing this:

[code]

I'm using the latest, `v1.1.1`

[2017-12-07 18:44] francislavoie commented on #25
Ah nope, disregard... I accidentally had object recursion :open_mouth: (see `$person`)

[2017-12-07 18:44] #25 closed

[2017-12-08 15:07] brendt commented on #19
I've added a little more explanation in the README: https://github.com/spatie/laravel-binary-uuid#a-note-on-the-uuid-blueprint-method

Sadly I don't see a better workaround for this, unless some changes are made in the core. These changes are in discussion over here: https://github.com/laravel/internals/issues/645

[2017-12-08 15:07] #19 closed

[2017-12-08 15:15] brendt commented on #14
FYI the possibilities to add better support in the core can be found here: https://github.com/laravel/internals/issues/645

There's no consensus though, yet.

[2017-12-10 19:53] driesvints opened #26 "Undefined property when declearing uuid method"
Heya, I'm trying to defined the following method on a modal which uses this library's trait but I get the following exception. Any idea why this is happening? Can't seem to wrap my head around it.

[code]

[code]

Let me know if you want more info.

[2017-12-10 20:39] freekmurze commented on #26
I guess that you have `protected $primaryKey = 'uuid';` on your model. Correct?

Does the underlying table have a column named `uuid`?

[2017-12-10 21:28] driesvints commented on #26
No, I only applied the traits like it said in the docs :)

Yep:

<img width="222" alt="screen shot 2017-12-10 at 10 26 49 pm" src="https://user-images.githubusercontent.com/594614/33809562-48de4136-ddf9-11e7-9084-f443e6a41803.png">

Thanks for helping!

[2017-12-10 21:54] freekmurze commented on #26
Ah, I missed that this is being set by the package in the  `HasUuidPrimaryKey` trait.

Could you try these things in a tinker session:

[code]

[2017-12-11 10:36] georgeboot opened #27 "Lumen support"
What is the reason for the dependency `"laravel/framework": "~5.5.22"`? I created a fork and replaced it with `"laravel/lumen-framework": "~5.5"` and it works successfully.

And reasons not to include Lumen support?

[2017-12-11 15:20] freekmurze commented on #27
We specified Laravel 5.5.22 because in lower versions of the framework queuing a model with binary uuid will result in errors and tears.

Unfortunately v5.5.22 is not yet tagged on illuminate/queue. As soon as that tag is there, we'll revisit this issue.

[2017-12-11 22:42] driesvints commented on #26
Problem is that I can't create a record atm because of the fatal error. I tried manually entering a record in the db with a binary UUID from another app which I hope is ok. The output was the one you were expecting although `$subscription->uuid;` and `$subscription->$keyName;` gave me some weird results, probably because the UUID wasn't created through the app and it feels like it was still binary

[2017-12-11 22:44] driesvints commented on #26
Some more info about the columns:

<img width="625" alt="screen shot 2017-12-11 at 11 44 29 pm" src="https://user-images.githubusercontent.com/594614/33857750-41988a2e-decd-11e7-86a7-df0ff038cdaf.png">

[2017-12-11 22:45] driesvints commented on #26
@freekmurze I updated the screenshot above. The one you got with the Github notification isn't correct.

[2017-12-12 08:37] brendt commented on #26
@driesvints could you share the code of your migration and the model class?

Sidenote:

`$keyName` giving strange output is expected, as it returns the raw binary data. `->uuid_text` will return the textual output.

[2017-12-12 10:10] driesvints commented on #26
@brendt sure. All of the code is in this PR: https://github.com/laravelio/portal/pull/320

[2017-12-12 10:37] brendt commented on #26
@driesvints It's the name of the method causing the issue:

[code]

If `uuid` is used as both a method name and a field name, I think Laravel will always prefer the method over the field, causing the error. I tested this with a local project and can reproduce the same error this way.

I you want to keep using the method, you could as well rename the primary field to eg. `uuid_binary` or just plain

[2017-12-15 21:17] francislavoie opened #28 "Incompatible with Laravel Horizon"
Laravel Horizon has a feature where it tries to tag a jobs intelligently if it sees that the object passed into the job is an Eloquent model. When they do this, they use [`$model->getKey()`](https://github.com/laravel/horizon/blob/1.0/src/Tags.php#L29). With binary UUIDs, `getKey()` returns a binary string, so things kinda explode in there when it tries to pass the string to Redis.

I'm not sure w

[2017-12-18 07:46] brendt commented on #28
I think that as soon as we're able to define custom blueprint methods, we can also tackle this issue. The reason why is that this would mean a BC breaking change, so it's better to bundle them. And for that we're waiting om some changes in the Laravel core. That discussion can be found here: https://github.com/spatie/laravel-binary-uuid/issues/14

My proposal would be that we would not be relying

[2017-12-18 07:46] brendt commented on #26
@driesvints Any more input on this one?

[2017-12-18 10:06] driesvints commented on #26
Haven't found the time yet to look at it again, sorry. I'll try to get back to this as soon as I can.

[2017-12-18 10:38] francislavoie commented on #28
Thanks for the answer. For now I have to manually set the tags on all my jobs as a workaround.

[2017-12-18 14:51] brendt commented on #14
Turns out `Blueprint` is macroable. So we're able to add a dedicated method for creating a binary UUID column. I've pushed a branch called v2, containing this change: https://github.com/spatie/laravel-binary-uuid/commit/a3fada6c22cbf771c9ed1285b68b8f46ccfbe9f6

We'll be able to use this solution if there's no built in binary support once Laravel 5.6 arrives.

[2017-12-18 21:05] francislavoie commented on #14
Mildly related question, if I wanted to extend the grammar myself to add something else, how would I do it such that it's still compatible with binary UUID? I want to add `MEDIUMBLOB` support to the grammar since I only use MySQL

[2017-12-19 08:24] brendt commented on #14
Because Grammar classes are not macroable; the only possibility is to extend `Spatie\BinaryUuid\MySqlGrammar` and manually register it on the connection.

[code]

See https://github.com/spatie/laravel-binary-uuid/blob/master/src/UuidServiceProvider.php#L27-L45 for the full implementation we're using.

[2018-01-03 11:04] zJoul opened #30 ""Malformed UTF-8 characters, possibly incorrectly encoded" with uuid relations"
I have some hard times with uuid relations and json representation.

My `work` model has two foreign keys (`user_id` and `workstation_id`) in binary format.
My `user` model has a `hasMany` relationship with the `work` model.

My controller looks like :
[code]
It throw the error mentionned in the title.

But it works well with tinker :
[code]
If I append the `toJson()` method on the tinker command

[2018-01-05 13:58] K4q4m3 opened #31 "Migration ignoring table prefix"
After installing this package, and runing php artisan migration
[code]

config/database.php:
[code]
db migration file
[code]

When I remove this package, everyting runs normal.

[2018-01-08 01:36] DennisOng opened #32 "Error when using with Implicit route model binding"
Getting the following error when using implicit route model binding:

Seems like it's using `uuid_text` as defined in getRouteKeyName().

My current workaround is to add a middleware to encode the UUID before the route model binding kicks in, and change the routeKeyName to `uuid`, which seem to work. But would love to hear if there's any better solution.

Great package for a very common use-case a

[2018-01-08 11:33] brendt commented on #30
So it seems that the issue doesn't come from the `->with` call, as it works with tinker.

Is it possible that `return compact('user');` tries to return a JSON? This should be visible from the error trace.

If so, you can override the `->jsonSerialize` method in the model, to support the custom relations:

[code]

I'm afraid relations won't be automatically converted in our current implementation.

[2018-01-08 11:37] brendt commented on #31
What points to an issue with table prefixes? It looks to me that the migrations fail to run because there's data in the tables you're trying to alter, which make a foreign key constraint fail.

What happens when you run the following **on a test database** `php artisan migrate:fresh`? Does it still fail?

[2018-01-08 11:44] brendt commented on #32
Hey and thanks for reporting this issue!

This is kind of a difficult one to tackle, because if we're not overriding `getRouteKeyName`, you'll get binary encoded values in generated URLs if I'm not mistaken.

The encoding and decoding needs to happen somewhere, and I'm not a 100% sure where the best place for it should be. A middleware seems like the correct place, but you would still need to add

[2018-01-08 11:46] K4q4m3 commented on #31
Migration creates table without prefix. **promotion_pages** should be **bc_promotion_pages**

In SQLSTATE error you can see attempt of creating foreign key to table **images**, instead of **bc_images**.

[2018-01-08 12:39] brendt commented on #31
How is the `id` field in the `images` blueprint built?

[2018-01-08 12:52] K4q4m3 commented on #31
[code]

[2018-01-10 15:30] zJoul commented on #30
You're right, `compact` return an array, and thus it's being displayed as JSON on the browser.

I tried to override the method without success.
I ended not displaying JSON, but I guess I could `$hidden` the `user_id` and the `workstation_id` in the `Work` Model.

[2018-01-11 07:45] brendt commented on #30
@zJoul could you share your solution here before we close this issue?

[2018-01-11 11:22] masterix21 commented on #30
Hi dears,

i found the same error using Passport and uuid for user_id column.

Try yourself with:

[code]

and next generate a token from /oauth/token.

[2018-01-11 12:58] zJoul commented on #30
@brendt Of course, I just call my view in my controller :
[code]

And if I need the id to be displayed, I just call
[code]

Althought I do not know about JSON representation

[2018-01-11 14:33] brendt commented on #30
I'm going to close this issue, and refer to https://github.com/spatie/laravel-binary-uuid/issues/14 for followup, we'll revisit the default `uuid` behaviour and serialisation of the binary fields for the next major version.

[2018-01-11 14:33] #30 closed

[2018-01-12 04:47] DennisOng commented on #32
Hey Brendt, I'm not too familiar with the 'url generation' part that you mentioned, do you mean when doing something like
`url("/posts/{$post->id}")`?

[2018-01-12 09:17] brendt commented on #32
In that case you're manually generating URLs, but if you're using [route model binding](https://laravel.com/docs/5.5/routing#route-model-binding), Laravel will automagically resolve things for you. Without overriding `getRouteKeyName`, the binary ID will be used, which we don't want.

[2018-01-16 07:58] brendt commented on #31
This issue is fixed in [1.1.2](https://github.com/spatie/laravel-binary-uuid/releases/tag/1.1.2).

[2018-01-16 07:58] #31 closed

[2018-01-18 09:46] westphalen commented on #27
+1

[2018-01-18 09:57] westphalen opened #33 "Accessors for non-primary-key UUID fields"
The `HasBinaryUuid` trait seems to forcefully convert the primary key to its text representation during `toArray`. Even if this was the wanted behavior, any other UUID fields are left on their own. For example, a "belongs to" scenario, where a `user_id` or `user_uuid` binary UUID exists, nothing is done to convert that field to text. That leads to unclear exceptions due to `json_decode` failing fo

[2018-01-18 10:43] westphalen opened #34 "`HasUuidPrimaryKey` trait is redundant"
The `HasBinaryUuid` trait already assumes that the primary key of the model should be a binary UUID:

[code]

and also more or less expects the primary key name to be `uuid` (rather than `id` or whatever).

[code]
[code]

So `HasUuidPrimaryKey` trait doesn't influence whether the primary key will be treated as UUID, which is kind of bad, if you just want to use `HasBinaryUuid` trait for other attr

[2018-01-18 11:37] brendt commented on #33
Let's further discuss this in PR #35 👍

[2018-01-18 11:37] #33 closed

[2018-01-18 11:45] brendt commented on #27
@georgeboot I tagged a new version [1.1.3](https://github.com/spatie/laravel-binary-uuid/releases/tag/1.1.3) containing only the dependency on `laravel/queue`.

[2018-01-18 11:45] #27 closed

[2018-01-18 11:48] brendt commented on #34
We're open for a PR to change this 😊

[2018-01-26 17:25] driesvints commented on #26
Heya, really sorry but I've decided to just go with regular UUID's instead and just implement a custom implementation. I never figured out how to solve this and it's the last thing holding me back from releasing a new feature. Hope someone finds the time to look into this. Good luck and thanks for all the help!

[2018-01-29 07:10] brendt commented on #26
@driesvints thanks for letting us know.

For future reference: there's a PR (https://github.com/spatie/laravel-binary-uuid/pull/35) addressing the issue of the field names, so it shouldn't be a problem anymore once that PR is merged.

[2018-01-29 07:10] #26 closed

[2018-02-01 09:23] slashequip commented on #32
I was just looking into this issue myself for my own project.

I was tempted to make a tweaked version of the `Illuminate\Routing\Middleware\SubstituteBindings` middleware & related classes which will can look up the model by the binary UUID - this would potentially cause issues with non-uuid models.

Alternatively and probably much easier would be to overwrite the `resolveRouteBinding` function f

[2018-02-01 11:26] brendt commented on #32
@slashequip If you're up for it, feel free to send a PR, we might indeed merge this instead of overriding `getRouteKeyName`.

There's also talk to add binary UUIDs and binding support in Laravel itself, though it's nowhere near concrete yet. That would of course be the best solution.

[2018-02-01 15:28] slashequip commented on #32
@brendt I'll see if I can find some time this week to test my initial thoughts and I'll ping you a PR.

[2018-02-12 09:14] brendt commented on #32
#36 was merged and tagged: https://github.com/spatie/laravel-binary-uuid/releases/tag/1.1.5

[2018-02-12 09:14] #32 closed

[2018-02-13 08:22] slashequip commented on #34
@brendt I guess this can be closed now as `HasUuidPrimaryKey` is deprecated?

[2018-02-13 08:48] brendt commented on #34
Indeed, as of 1.1.5, `HasPrimaryUuid` is deprecated and will be removed in 2.0.

More information about it in this PR: https://github.com/spatie/laravel-binary-uuid/pull/36

[2018-02-13 08:48] #34 closed

[2018-02-23 20:37] Wijnands opened #38 "Not compatible with Scout"
On laraval 5.6 in combination with Scout I get a json utf 8 error

Imported [App\Models\Users] models up to ID: ���^�҆�����
and
ERROR: JSON parsing error: malformed UTF-8 characters, possibly incorrectly encoded

If i uninstall the packages and use uuid  as a string then the combination with scout is not a problem.

How can i fix the malformed utf-8 error?

[2018-02-26 07:57] brendt commented on #38
If the binary UUID is used when serialising a model to JSON, this will result in an error. This package provides a built-in solution for queues, but it hasn't been tested with Scout. It is most likely possible to fix this for your models by overwriting the `toSearchableArray` in your model, and make sure the textual version of the UUID is returned and not the binary version. Without concrete error

[2018-02-26 07:57] #38 closed

[2018-02-28 11:50] andrzejkupczyk opened #39 "Model using the HasBinaryUuid trait is not booted correctly"
Problem occurs when you try to convert newly created model instance to an array:
[code]
[code]
This happens because `toArray()` tries to get an "uuid text" attribute which is `null` at this point:
[code]

[2018-02-28 11:55] brendt commented on #39
Feel free to submit a PR to fix this issue!

[2018-02-28 13:32] andrzejkupczyk commented on #39
Okie dokie, it's done.

[2018-02-28 15:35] brendt commented on #39
Thanks! We'll discuss this further in the PR

[2018-05-01 07:56] #28 closed

[2018-05-11 18:43] choma commented on #33
I guess this should be reopened since the PR was abandoned, and this would be a nice feature

[2018-05-14 07:33] brendt commented on #33
No need, the PR is still open, and I will look further into it when there's time. Unfortunately, I don't think I'll be able to give it attention anytime soon, so if you're up for it: feel free to fork the existing PR and submit it new one.

[2018-05-14 20:48] francislavoie opened #41 "Configuration option for using UUID v4 instead of v1"
I'm thinking that abstracting https://github.com/spatie/laravel-binary-uuid/blob/master/src/HasBinaryUuid.php#L18 into the service provider would be nice. Maybe configurable per model instead of the service provider?

I guess it would mean losing out on some indexing performance, but for UUIDs that are used externally to the application, it would provide anonymity.

Thanks

[2018-05-15 00:48] Cayan commented on #41
This seems like a great update for this project

[2018-05-15 06:42] brendt commented on #41
This package was built with binary bit-shifting in mind. That means it'll only makes sense to use UUID v1. Storing UUIDs as binary was a side effect of it.

When we build v2, we'll split binary columns and generation of UUIDs better, so that you'll have full control over it on model level. Furthermore, there's talk that a binary UUID column will be added natively in Laravel, but there's no ETA for

[2018-05-15 06:42] #41 closed

[2018-06-14 09:35] dror3go opened #42 "Expose method to generate binary UUID"
Hi,

I have a use case where I need to insert lots of rows to a table. To do so, my approach is to use Eloquent's `insert` method and provide it an array of data to insert, instead of creating lots of instances of my model and then `save()` each - which will run a single query per row. The goal is to optimize my INSERT process, since I require lots of data to be inserted to the table.
Since my tab

[2018-06-15 07:09] brendt commented on #42
Hi @dror3go

If I understand correctly, you want a shorthand method for `MyModel::encodeUuid(\Ramsey\Uuid\Uuid::uuid1())`, maybe model agnostic?

That's indeed a convenient method. I'm not going to add this feature now, but will revisit it when we start working on a new major version.

You're free to submit a PR if you want this in, but I'm not sure yet where the method would belong. Maybe a new c

[2018-06-15 07:09] #42 closed

[2018-06-15 07:10] #39 closed

[2018-07-04 11:46] vpratfr opened #44 "Using Eloquent find* methods with string UUID"
Hi,

Currently we can only use the `find*` methods (find, findOrFail, etc) with binary UUIDs.

It would be nice to get those methods to work when given a valid UUID string too.

Would you be ok for a PR which would override those find methods in the trait to make use of the withUuid scode instead of the withKey scope when a UUID string is detected?

[2018-07-04 12:01] vpratfr commented on #44
Here is some code that works, that I could submit in a PR with some tests if you agree:

[code]

[2018-07-04 16:22] vpratfr opened #45 "Making `_text` available to other secondary UUID columns"
Currently, the trait offers some goodies on the main uuid field (the PK). Models may have foreign keys to other models according to their UUID. It would be nice to open some of the features on those attributes too.

### The _text computed attribute

other UUID attributes should also have a corresponding computed string representation. e.g. `relation_uuid_text` would return string version of `relat

[2018-07-06 13:43] brendt commented on #44
Overriding `find` methods goes a bridge too far, as it touches too deep into default Laravel behaviour. I'd be ok with some custom scopes.

[2018-07-06 13:47] brendt commented on #45
I think saving the UUID both in textual and binary form is a good idea. I've been thinking about how I'd implement this package if we'd start over again (read: v2).

I think the primary key field should just be the textual UUID, with an extra indexed field added to store the binary data. This binary field could be used for high performance searches, relations, etc. but other things like route bind

[2018-07-06 13:59] vpratfr commented on #45
One big disadvantage of UUIDs over regular (big) integers (with or without auto-increment) is the storage overhead.

By adding both versions of the UUID within the DB, you clearly make that disadvantage really become a concern.

I personnally do not even expose the UUIDs to the world. I have a hashed version of it (base62) which feels better in the URL : 21 characters instead of 36. I have a trait

[2018-07-06 14:01] vpratfr commented on #45
Note: this is an automated way of providing it.

If you prefer a more user-controlled way, then instead of detecting if `$key` ends with `_uuid_text`, then we could simply check if the key belongs to the model defined array `$this->uuids` (just like it is done by the Model class for date attributes that need to be casted to Carbon instances.

[2018-07-06 14:05] vpratfr commented on #44
Ok. However that felt much more coherent with the rest of the features which allow to work seamlessly with string or binary representations.

And `MyModel::find($myUuidString)` is way more pleasant to write than the corresponding scoped query.

[2018-07-10 14:25] paulocastellano opened #46 "Support to postgresql"
Hello,

You think about implement this package for postgresql?

[2018-07-12 21:59] freekmurze commented on #46
We don't need postgresql for our projects, so we probably aren't going to invest time in this ourselves.

Howeber, we would consider accepting a fully tested PR.

[2018-07-12 21:59] #46 closed

[2018-07-13 08:38] brendt commented on #46
Postgres supports binary UUIDs out of the box. There shouldn't be the need for this package.

[2018-07-24 17:49] d1am0nd opened #47 "Make models with HasBinaryUuid trait serializable when the model key is not selected"
Right now [this](https://github.com/spatie/laravel-binary-uuid/blob/master/src/HasBinaryUuid.php#L74) injects the key to the returned array, even when the key is not selected. Which makes `Model::select(fields)` a pain to use when the primary key is not selected.

Problem:
[code]
Throws an error saying `uuid` cannot be `null`:

[2018-07-25 06:40] brendt commented on #47
This is fixed, thanks to your PR; in 1.1.7: https://github.com/spatie/laravel-binary-uuid/releases/tag/1.1.7

[2018-07-25 06:40] #47 closed

[2018-08-08 17:07] telkins opened #50 "Is it necessary to explicitly set incrementing to false...?"
The docs suggest that "[t]o get your model to work with the encoded UUID (i.e. to use uuid as a primary key), you must let your model use the `Spatie\BinaryUuid\HasBinaryUuid`" but "[i]f [you] don't like the primary key named `uuid` you can leave off the `HasUuidPrimaryKey` trait and manually specify `$primaryKey`. **Don't forget set `$incrementing` to false.**"

However, `Spatie\BinaryUuid\HasBin

[2018-08-08 17:48] telkins opened #51 "Error in HasBinaryUuid trait...?"
Isn't this method in `Spatie\BinaryUuid\HasBinaryUuid` likely to cause errors when explicitly setting the primary key...?
[code]

The examples seem to allow for explicitly setting the primary key to something other than `uuid`:

[2018-08-08 17:55] telkins commented on #51
Of course, I've just noticed that `HasUuidPrimaryKey` has been deprecated and that `getKeyName` was once in that trait.

I'm not sure if the docs are wrong, the code is wrong, or I'm wrong in how I've understood things.  It **seems** like the docs allow for a uuid primary key with **any** name, but the code doesn't.

For what it's worth, I prefer the flexibility reflected in the docs and, without

[2018-08-09 11:19] brendt commented on #51
@isocroft this has probably to do with #49

[2018-08-09 12:05] telkins commented on #51
@brendt I'm not sure that I see the connection.  I followed the link to #49 , but I'm not seeing any changes to `HasUuidPrimary` key or any changes having to do with `HasBinaryUuid`'s `getKeyName()` method.

Am I missing something...?

[2018-08-10 16:09] mfauveau opened #52 "Validation not working?"
Laravel 5.6
Laravel Binary Uuid 1.1

I'm sure I'm missing something here (I've been back to Laravel for only the past 6 months).

I have a model that uses the HasBinaryUuid trait. In my Request class, I want to check for uniqueness of one of the attributes, so I did:
[code]

Unfortunately, the following error occurs:
[code]

Any ideas?

[2018-08-11 20:07] isocroft commented on #51
@brendt i don't think it has anything to do with #49 . @telkins you can modify the what `getKeyName()`  returns by overriding the method in your model (if you don't want to use `uuid` which is returned by the `getKeyName()` method defined in the **HasBinaryUuid** trait). Which i have done in my Laravel 5.6 project which uses this package already.

[2018-08-11 20:11] isocroft commented on #51
@telkins  from what you said, you haven't started using this package so there isn't an actual error case here or am i wrong ?

In all, i think the README isn't explanatory enough. I can volunteer later on to include better customization examples in the README maybe later this month (if that's okay with @brendt ) via a fresh PR.

[2018-08-12 13:57] isocroft commented on #52
@mfauveau when you read the `->id` or `->uuid` attribute of any model that uses the **HasBinaryUuid** trait, it returns binary data. The error you have has nothing to do with this package. From the error, you are trying to query with a binary column (which is impossible). First you need to specify the actual column and then the value (which is the binary `id`)

I think what you wished to do is:

[

[2018-08-12 15:05] isocroft commented on #50
Yeah it is... Sorry about the mix up with respect to the dos

[2018-08-12 18:44] isocroft commented on #45
This issue has been fixed by #49 . So it's safe to close ?

[2018-08-13 06:45] brendt commented on #51
@isocroft

Definitely!

[2018-08-13 06:48] brendt commented on #52
Looks like it's indeed a misuse of certain properties. I'll close this issue for now, but don't hesitate to reply here if you have any more questions.

[2018-08-13 06:49] brendt commented on #50
@isocroft feel free to also improve this in your README PR 👍

[2018-08-13 06:49] #50 closed

[2018-08-13 06:50] #45 closed

[2018-08-13 07:17] telkins commented on #51
@isocroft Thanks for the info/help.  I'm not sure why, but I didn't even consider overriding the `getKeyName()` method in my model(s).  My bad...!  <-- insert embarrassed emoji here -->

No, I really haven't begun to use it just yet.  I'm in the early stages of a new project.  I'm wanting to use laravel-event-projector and then this package for (binary) UUIDs.  I was also hoping to use Nova for ad

[2018-08-13 07:17] #51 closed

[2018-08-13 13:25] vpratfr opened #56 "[Question] Infinite recursion for getAttribute when present in multiple traits"
I am using this library along with some other libraries which also provide traits for the getAttribute method.

I cannot manage to find the right way to use both traits for the same model class.

Here is the corresponding StackOverflow question: https://stackoverflow.com/questions/51823409/detect-recursion-when-overridding-trait-methods which has some more details about the use case.

Any input? I

[2018-08-13 14:28] mfauveau commented on #52
For some reason, id_text was throwing an error and it's not doing it anymore... thanks anyway, guys!

[2018-08-13 15:51] mfauveau commented on #52
I actually remember now (I have a case of Mondays :)).

When editing an item, let's say ```22509e3c-9a74-11e8-99a9-0800273b4cc5```, neither ```Rule::unique('table')->ignore($this->model->id_text)``` or ```Rule::unique('table')->ignore($this->model->id)``` work as expected. It's always returning "name" attribute already exists.

I found out that dumping $this->model->id returns ```b"\x11èšt"Pž<™©\x

[2018-08-13 18:13] mfauveau commented on #52
Ok, ```$this->id```returns the actual text uuid. Progress! However, I've attempted all of the proposed solutions, and I still get the "name" attribute already exists error.

[2018-08-14 07:25] brendt commented on #56
Did the `private` solution work for you (https://stackoverflow.com/a/51823612) ?

My first thought, before having read the SO answer was also to import the trait methods with a different name and compose them yourself, as you did.

If all else fails, I'm afraid you'll have to make a separate trait, combining the two. It'll mean you'll implement a piece of library logic in your own project code tho

[2018-08-14 07:25] #56 closed

[2018-08-14 07:35] brendt commented on #52
Reopening this, I'll investigate it a little further, though I can't promise it'll be this week.

[2018-08-14 07:56] vpratfr commented on #56
For anyone facing the same issue.

Making the trait alias the functions as `private` worked. I guess that is the proper way to solve the issue.

I also do not think moving logic to a separate function would help much. I would not like to override that getAttribute function by calling explicitly another function of each trait (which in turn may have a different name in each library because of the l

[2018-08-14 10:54] brendt commented on #56
Thanks for sharing the solution!

[2018-08-16 19:08] isocroft commented on #52
@mfauveau does your model contain ?

[code]
if it doesn't then what you are looking for is on `$this->model->uuid_text`. I think there would be need to update these two methods in the library code @brendt like so (just a suggestion):

[code]

So, it's easier to use the library without wondering about so much like @mfauveau .

[2018-08-22 13:40] fincardy opened #57 "Unknown database type binary requested, Doctrine\DBAL\Platforms\SqlitePlatform may not support it."
Hey there,

I'm using this alongside Laravel Dusk with SQLite for testing purposes, problem is when I try and run the db migrations I get this error:

`Doctrine\DBAL\DBALException: Unknown database type binary requested, Doctrine\DBAL\Platforms\SqlitePlatform may not support it.`

I've not really used Dusk or SQLite before and after some digging SQLite doesn't have the "binary" datatype but instea

[2018-08-22 14:07] brendt commented on #57
Yeah, that's probably a bug. Feel free to submit a PR!

[2018-08-22 14:22] lonnylot commented on #51
This is the [commit](https://github.com/spatie/laravel-binary-uuid/commit/ed1a38e56d5dd41919cbd31b7f913fe74ad2c4d0#diff-f93d483c6811c38f8fbe2be1fdb18178) that broke the documented functionality.

By deprecating the `HasUuidPrimaryKey` trait and merging that functionality into the `HasBinaryUuid` trait we lost the ability to set `protected $primaryKey`.

I think overriding two methods on _each_ mod

[2018-08-22 14:23] fincardy commented on #57
Thanks for the quick reply, submitted the PR now :)

[2018-08-23 09:29] brendt commented on #51
This is the related issue: https://github.com/spatie/laravel-binary-uuid/issues/34

Unfortunately, I don't have the time this and next week to look further into this 😞However, feel free to suggest a solution!

[2018-08-23 09:33] brendt commented on #57
It's merged! #58

[2018-08-23 09:33] #57 closed

[2018-08-23 16:19] lonnylot commented on #51
@brendt I think I'd need to understand why `HasUuidPrimaryKey` was deprecated/merged into `HasBinaryUuid`. I don't see any clear reason for that and it would be hard to come up with a new solution without understanding why `HasUuidPrimaryKey` had to go...

[2018-08-26 00:35] yaquawa opened #59 "[BUG]Stop overriding `getKeyName` method of Model class."
Hi!
Thanks for the great works!!

I found a problem to redefine primary key of models.

In the `spatie/laravel-binary-uuid/src/HasBinaryUuid.php`

where this `getKeyName` method is overriding `Illuminate\Database\Eloquent\Model::getKeyName`. Which cause problems.

[code]

according to your documentation:

[code]
To fix it just remove the `getKeyName` method from the `HasBinaryUuid` trait.

Am I mi

[2018-08-26 10:45] yaquawa commented on #44
Agree with @vpratfr 🤝
This package already hacked in some internal behaviors that Laravel has.

I know it's better not to touch the original method, but for the `find` method, just a little tweak can improve usability a lot and more importantly, can provide better integration ability with other packages which use the `find` method. And even if the original business logic of the `find` changes, it'

[2018-08-27 06:36] brendt commented on #44
@yaquawa we probably will: https://github.com/spatie/laravel-binary-uuid/pull/53

Though I won't be able to merge it before September.

[2018-08-27 07:04] brendt commented on #59
Indeed, it's a bug. At one point we've simplified the package by deprecating the separate `HasUuidPrimaryKey`, and moving the behaviour to the `HasBinaryUuid` trait. This included the `getKeyName` method. (https://github.com/spatie/laravel-binary-uuid/commit/ed1a38e56d5dd41919cbd31b7f913fe74ad2c4d0)

Unfortunately, we cannot simply remove the `getKeyName` method, as it will break the default behav

[2018-08-27 07:04] #59 closed

[2018-08-27 07:18] yaquawa commented on #44
@brendt Thanks!😻

[2018-08-27 12:13] mohamedsharaf opened #60 "laravel passport support"
i add this to app provider boot function

     Passport::ignoreMigrations();

     Passport::$tokenModel= \App\Token::class;

and changed user_id in oauth_access_tokens to uuid in migration

the problem is i need to leave the string token index in the \App\Token::class;

[code]

but i am getting this error i am sure its problem because of uuid

RuntimeException
Error while encoding to JSON: Malfor

[2018-08-27 12:13] mohamedsharaf commented on #60
<?php

namespace App;

use Laravel\Passport\Token as BaseToken;

use App\Traits\HasBinaryUuid;

class Token extends BaseToken
{
    use HasBinaryUuid;
    protected $uuids = [
        'user_id' // foreign or related key
    ];

}

[2018-08-27 12:55] freekmurze commented on #60
I don't understand the question. Could you PR a failing test for us to look at?

[2018-08-27 12:55] #60 closed

[2018-08-27 13:03] mohamedsharaf commented on #60
the problem when i need to make
say
user model (with id field (type uuid   )   as a primary key)
comments  (with id field (type integer) as a primary key) (foreign key user_id)

there is no option in this package to handle this i hade to override the protected static function bootHasBinaryUuid

and then had to define the primary key in the variable uuids
[code]

is this the best way or i am missin

[2018-08-27 13:11] mohamedsharaf commented on #60
@freekmurze look at the previous example

[2018-08-27 13:23] brendt commented on #60
@mohamedsharaf

[code]

Won't work. Please check https://github.com/spatie/laravel-binary-uuid#usage . You'll need to use `getKeyName`.

I don't really understand why you're overriding the `bootHasBinaryUuid` method, the package takes care of setting primary keys.

[2018-08-27 13:41] mohamedsharaf commented on #60
@brendt @freekmurze

from readme
[code]
the problem is that that the TestModel forced to  use binaryUUid for the primary key
what if i just need TestModel  a big integer primary key and need to only handle the country_uuid foreign or related key

[2018-08-29 14:22] yaquawa opened #61 "Can't work with Laravel Passport"
Laravel Passport will throw errors if using binary UUID.
I just created a package [laravel-passport-binary-uuid-adapter](https://github.com/yaquawa/laravel-passport-binary-uuid-adapter) to allow Passport accept binary UUID to work with this package.

I found some people encountering the same issue here, so if you don't mind, add a link to this package to your README will be helpful for people who

[2018-08-29 14:40] yaquawa commented on #60
@mohamedsharaf The error is related to `json_encode` function where was used in the  `league/oauth2-server` package to generate jwt token.

This issue has nothing to do with laravel-binary-uuid itself. you can check [this package](https://github.com/yaquawa/laravel-passport-binary-uuid-adapter) to allow Passport support binary UUID.

[2018-08-29 14:48] mohamedsharaf commented on #60
@yaquawa  i ended up with making package like yours but i have simple solution depends on current elequent user provider just changing one function

i may make push request to your package or notify you if i made custom one

[2018-08-29 15:06] yaquawa commented on #60
@mohamedsharaf Hey! Thanks for telling me that!

It'll be very helpful if you can send me a PR if there is a better solution to the problem.

By "just changing one function", do you mean the `retrieveById` method of `eloquent` user provider? If so I did it too, and the other part of the code is about handling the token creation issues.

[2018-08-29 15:53] mohamedsharaf commented on #60
i will give u the idea  if this may help
i extended the token Model  and the client Model
[code]

[2018-08-29 15:55] mohamedsharaf commented on #60
also there is a problem in the HasBinaryUuid i changed it so it can handle and foreignkey uuid without forcing me  to make primary uuid

[2018-08-29 16:48] yaquawa commented on #60
@mohamedsharaf Thanks for that! I'll have a try later on.

By the way, does that work with [personal access tokens](https://laravel.com/docs/5.6/passport#personal-access-tokens) creation?

[2018-08-29 17:05] mohamedsharaf commented on #60
yes it works fine with me

[2018-08-29 20:15] NietzscheCoder opened #62 "Can't store values in a model with UUID in it"
So I set it up everything perfectly but when I create a 'store' function it says this

``SQLSTATE[HY000]: General error: 1364 Field 'id' doesn't have a default value (SQL: insert into `users` (`name`, `email`, `password`, `uuid`, `updated_at`, `created_at`) values\

Do i also need to specificy the uuid inside the add function? Doesn't it get generated automatically like 'id' use to?

[2018-08-30 14:22] yaquawa commented on #60
@mohamedsharaf Weird… I just tried your solution, and it didn't work for me for some reasons… I think I must missed something.

[2018-08-30 14:29] mohamedsharaf commented on #60
this is my updated trait simply do one thing if there is uuid feild jjust declear in the $uuids variable even if its primary key

[code]

[2018-08-30 14:51] yaquawa commented on #60
@mohamedsharaf Thanks! Let me know if you published a package😁

[2018-08-31 20:06] rohanshukla94 commented on #62
It's done, I solved it! Thanks.

[2018-09-02 04:31] NietzscheCoder opened #63 "Using pivot tables help with uuid"
So my User model has uuid enabled and its successfully migrating and has a binary uuid
Now my Role model has a Pivot relation with User as role_user table with role_id and user_id.

My question is instead of user_id, what will I have to use?
[code]

[2018-09-02 05:45] #63 closed

[2018-09-03 10:11] brendt commented on #62
@NietzscheCoder could you share the problem and solution for future reference?

[2018-09-03 17:19] rohanshukla94 commented on #62
Yes, wait ill do that

[2018-09-04 01:47] rohanshukla94 commented on #62
@brendt this wasn't an error from the package side, it was rather a mistake in the code i was using for Create function, other than that this error wouldn't come.

[2018-09-04 06:36] #62 closed

[2018-09-07 10:35] afraca commented on #61
This is quite interesting. I did some initial tweaking with this. I changed the (passport) migrations (published them)  to use binary UUIDs **everywhere**. I extended all Passport models with my own. You can use

[code]

I applied the README parts about model modifications to the custom Passport models.

I saw a working `php artisan passport:client --personal` with it, but have **no** idea what ot

[2018-09-07 14:29] yaquawa commented on #61
Hi @afraca

I did the same, you can have a look at the source code.

But unfortunately, this is not enough, for example, for some cases Passport want to convert a token into a response, which requires using the `json_encode` function, this will throw an error because it can't encode the binary string correctly using the UTF-8 encoding schema.

The package I published has been tested for all the gr

[2018-09-10 10:29] afraca opened #64 "[Idea] Split up HasBinaryUUID trait"
The `HasBinaryUUID` trait is quite 'all in'. It's not so easy to mix how your models work.

If your model A does not have binary uuid, but B has, and you're working with relations, it's nice to have the toArray() from the trait, but I don't want the creating listener code.

[2018-09-10 12:57] brendt commented on #64
There actually were multiple traits in a previous version. We decided to go all in for a better default user experience. For some people this is a good thing, for other it's not.

Furthermore, this would mean a breaking change. I'll tag this issue so that we'll revisit it for a next major version.

[2018-09-10 12:57] #64 closed

[2018-09-10 13:00] vpratfr commented on #64
Note for later. A non breaking way to do that would be to split it in several traits and then the existing trait would use all those smaller pieces.

[2018-09-10 23:15] reminisc3 opened #65 "Laravel Scout: Issue with newQueryForRestoration($id) (Add Array Support)"
Greetings,

Firstly, excellent package and nice work being done here!

The issue:

I am trying to get this to play nice with Laravel Scout and am encountering an issue when using queues with Scout. In the HasBinaryUuid trait, the following function is implemented in your package:

[code]

When performing operations on models with the Searchable trait, it seems to be passing an array to this functi

[2018-09-11 06:23] vpratfr commented on #65
Hi

I think it should indeed work with arrays too.

So instead of picking the first element of the array it should use a whereKeyIn call like the original method.

Could you submit a proposal with corresponding tests?

[2018-09-12 13:23] XanManZA opened #66 "Composite Key Not Working"
Just basically doing a sanity check here because I'm assuming the changes were tested.
In the README it states that composite keys are supported, thus steps:

1. Create a model and make it extend `Illuminate\Database\Eloquent\Relations\Pivot`
2. Add `use Spatie\BinaryUuid\HasBinaryUuid;`
3. Change the `getKeyName` method, as stated in README
[code]
4. Try to create Model with tinker and receive

[2018-09-12 13:33] brendt commented on #66
That looks like an oversight in the package.

I believe @isocroft made the initial change. Ifeora , Do you have input on how to fix this the best way?

[2018-09-12 13:54] XanManZA commented on #66
Cool, just to confirm that the problem is the fact that a pivot typically does not need to generate a primary key. So the `creating` boot watcher should either not happen in that case or the logic inside it should change.
Let me know if you'd rather have me create a PR.

[2018-09-12 14:10] brendt commented on #66
@XanManZA a PR is definitely welcome!

[2018-09-13 06:33] XanManZA commented on #66
Cool, will get to it this weekend

[2018-09-13 13:51] mohamedsharaf opened #68 "with('relation') . cause utf8 encode error"
the problem is that laravel toArray add pivot data and if it include uuid it will make utf8 error

i fixed this by removing pivot from the array
        if (isset($array['pivot'])){
            unset($array['pivot']);
        }

this is the new trait toArray

[code]
[code]

[code]

Malformed UTF-8 characters, possibly incorrectly encoded
i think the model to Array not working on collections and jo

[2018-09-14 09:47] isocroft commented on #66
Yeah @brendt , it was actually an oversight. Thanks so much @XanManZA  for pointing this out.

Here is the ( quick ) code that would be fixing it in *HasBinaryUuid.php*.

[code]

@XanManZA I hope this helps with your proposed PR.

[2018-09-14 12:20] vpratfr commented on #66
What if the composite key is not made of 2 UUIDs?

For instance an uuid and an id or a string.

I guess you should check against the `$uuids` property to see if the key is declared as a uuid.

[2018-09-14 12:45] isocroft commented on #66
Thanks for that angle @vpratfr . Have updated the code above to take those into consideration

[2018-09-17 15:51] #14 closed

[2018-09-18 13:27] XanManZA commented on #66
@brendt I don't want to mess up your cheese here, what would be your expected behaviour on the `setUuidTextAttribute` for composite keys?
 The solution @isocroft offered will set all the keys to the same UUID if I understand correctly, which is not good I think.
So either we force the attribute parameter to be an array or put a disclaimer in the ReadMe that the `uuid_text` attribute is not applica

[2018-09-18 13:51] brendt commented on #66
At Spatie, we don't need the composite keys at the moment. So it's up to the people actually benefiting from this feature to raise their voice: yes or no.

My personal preference goes to simply change the README. If we ever choose to build this package from the ground up (v2) we might reconsider it. But feel free to change my mind on why this feature is a must and why it should be supported.

[2018-09-18 17:01] isocroft commented on #66
@XanManZA i think we should put the disclaimer in the ReadMe. The `setUuidTextAttribute()` method is only applicable to the primary key column for the current Eloquent model. I think this approach is best.

Any other suggestions are welcome...

[2018-09-18 19:11] vpratfr commented on #66
How about throwing an exception if that method is called inside a model with a composite key? Would make it obvious then.

[2018-09-19 06:30] brendt commented on #66
@vpratfr I like that idea!

So, is anyone up for sending a PR? Otherwise I'll look at it when I've got the time. (Which won't be this week.)

[2018-09-19 09:47] isocroft commented on #66
@vpratfr love your idea! It follows proper flow for this case. Let me send in a PR later on Friday this week so we all can discuss some more.

[2018-09-19 09:52] isocroft commented on #68
I think... `toArray()` works just fine in the trait. However, i need to dig deeper into the cause of this.

In your case, what does `$array['pivot']` contain exactly ?

[2018-09-19 09:59] mohamedsharaf commented on #68
pivot: {
role_id: Binarydata,
permission_id: Binarydata
}

[2018-09-21 12:10] andreidmour commented on #30
Did you manage to find a solution for this problem?

[2018-09-21 14:43] masterix21 commented on #30
@andreidmour sorry, no. I have changed package, without binary conversion.

[2018-09-22 23:22] ekpono commented on #30
i am using Uuid to for user. After submiting the form i get this error `"Error encoding model [Koboaccountant\Models\User] with ID [790c48b8-3eb5-5a31-ad77-333d642ef5b1] to JSON: Malformed UTF-8 characters, possibly incorrectly encoded ◀"`

[2018-09-23 05:46] vpratfr commented on #30
What does your user class look like?

Did you add the `$uuids` protected field?

Did you append uuid_text and hide uuid from json serialization?

[2018-09-23 05:47] vpratfr commented on #30
May be a good idea to open your own issue. This one is closed.

[2018-09-23 11:17] andreidmour opened #69 "Malformed UTF-8 characters, possibly incorrectly encoded"
Using Passport and User UUID causes "Malformed UTF-8 characters, possibly incorrectly encoded" in oauth/token

[2018-09-24 07:07] vpratfr commented on #69
Can you paste your model class here?

[2018-09-24 16:29] nolanpro commented on #69
I get this too. There's an issue when outputting a JSON stack trace that includes the SQL (maybe other places too). I don't have a viable workaround so I hope someone can help out.

I can fix the issue by modifying `vendor/laravel/framework/src/Illuminate/Database/QueryException.php`

[code]
to
[code]

But of course we shouldn't modify vendor files directly. I'm trying to figure out how to use mac

[2018-10-01 14:24] isocroft commented on #66
For PR #71 which i pushed recently all tests are passing except 1 (the test for composite keys) which makes use a new model that defines composite keys. The test passes on my local but **Travis CI** reports an error:

`class "Spatie\BinaryUuid\Test\TestModelComposite" not found`

@brendt  how do i fix please so the PR can go through for further discussions ?

[2018-10-02 06:37] brendt commented on #66
@isocroft I guess there's either a typo somewhere or a wrong namespace mapping. Both are fixed locally by running `composer dump-autoload`, which can hide the problem.

[2018-10-04 11:57] isocroft commented on #68
No need to modify the code in the manner you're suggesting. Simply add the '[pivot]' to your `$hidden` property array on your model like so:

[code]

See: https://github.com/laravel/framework/issues/745 for more info

[2018-10-04 11:59] isocroft commented on #68
I think this issue can be closed out (for now). It would be reopened if there's any further concerns

[2018-10-04 13:54] isocroft commented on #66
Thanks a lot @brendt fixed it. turns out the file somehow wasn't commited when i pushed

[2018-10-04 13:58] isocroft commented on #66
Going forward,

I think this piece of code from https://github.com/coenjacobs/eloquent-composite-primary-keys/ should be considered for inclusion into the **HasBinaryUuid** trait as well. Besides the composite primary keys library i referenced above is actually too small to be a stand-alone composer library

[code]

What do you all think ?

[2018-10-05 16:26] yaquawa commented on #69
Checkout #61

[2018-10-08 08:13] isocroft opened #74 "Ordered UUID for Laravel MySQL grammar query compilation via custom builder"
Once pending PRs are reviewed/attended to, it will be pertinent to consider ordered uuids for setting up partial sequential ids in database tables making it easy to sort/index at DB level. The custom eloquent builder and grammar PHP classes in this package will be updated to have this new behaviour. This could be the basis of a version 2 of the package focusing on performance with respect to UUIDs

[2018-10-11 15:12] guice opened #76 "Running DB::purge() is unloading extension"
Using a DB::purge() to reset the database connection is unloading this UUID plugin, causing an issue with multi-database sites.
---
I'm using a multi-database approach on our website. I'm building a multi-db migration using [a method of overloading the migration commands](https://hackernoon.com/extending-laravels-migration-command-to-add-new-options-90b5a0fc4ef4
) I found online.

However, I disco

[2018-10-12 06:36] brendt commented on #76
That's a very strange issue. Is there any chance you'll be able to figure out why the package gets unloaded?

Also, what kind of errors do you get? Are you sure the package isn't registered anymore?

[2018-10-12 17:16] guice commented on #76
Here's what I'm seeing:

* I have a migration I'm overloading: `migrate:refresh --seed`
* I set my migration directory for my first default, run ::handle()
* Then I look over a series of clients, each doing:
[code]
* Outcome:
  * The first db has binary(16) as UUID columns
  * All subsequent client DBs have UUID columns as char(36)

I ran through a debug, and I can definitely see in the first ::ha

[2018-10-14 22:25] jonagoldman opened #77 "uuid() blueprint method creates a char(36) column instead of binary(16)"
I am using v1.3.0 of this package with Laravel v5.6.39.

According to the docs, `$table->uuid('uuid')`  is supposed to create a `binary(16)` column in database, but for some reason a `char(36)` is created instead.

I am changing database connections on the fly, so maybe that's the problem? Maybe the override behavior of Laravel's uuid() method is not working or something is not registering correct

[2018-10-15 06:39] brendt commented on #76
My best guess is to look at the service provider of this package: https://github.com/spatie/laravel-binary-uuid/blob/master/src/UuidServiceProvider.php maybe you'll be able to figure things out from there?

I'll be closing this issue as there's no specific support in this package with multiple databases. But feel free to keep commenting.

[2018-10-15 06:39] #76 closed

[2018-10-15 06:42] brendt commented on #77
It sounds like the service isn't loaded correctly. Our service provider will register the custom grammar on boot: https://github.com/spatie/laravel-binary-uuid/blob/master/src/UuidServiceProvider.php

My guess is that by changing the connection on the fly, you'll also have to manually override the grammar for that connection.

Unfortunately this package doesn't explicitly support this feature, so

[2018-10-15 06:42] #77 closed

[2018-10-19 22:05] hugofabricio opened #79 "Use ID and UUID"
Its possible use ID and UUID in same table with relations?

I use, but cause Malformed UTF-8 characters, possibly incorrectly encoded on save with relations.

[2018-10-22 06:46] brendt commented on #79
It is possible, have you read the README on overriding the `getKeyName` ? https://github.com/spatie/laravel-binary-uuid#usage

[2018-10-22 06:46] #79 closed

[2018-10-22 10:21] vpratfr opened #80 "Usage with Laravel Nova"
Has anyone successfully managed to setup Nova with Binary UUIDs?

Currently trying to do so, but it seems to be a loooonnnnnggggg way till I get it to work.

Several reports here and there of people not being able to use it even with String UUIDs ...

[2018-10-22 10:26] vpratfr commented on #80
Related Nova support issue for reference: https://github.com/laravel/nova-issues/issues/873

[2018-10-22 11:49] brendt commented on #80
That issue link seems to be a 404. Maybe because of GitHub being messed up?

[2018-10-22 18:55] vpratfr commented on #80
Link is working here.

[2018-10-23 04:43] tdondich commented on #28
@francislavoie , see my pending PR for laravel horizon at https://github.com/laravel/horizon/pull/405

[2018-10-23 10:00] uwascan commented on #80
I am able to create records but get a 404 when Nova redirects to the newly created record detail page. But index page works fine. I have tried a lot of tricks but keep getting 404 after creating a new record. Here is  my code
[code]

In Base Resource, I had to override detailQuery to transform string uuid back to binary uuid but still no luck even when the log statement returns the right record

[

[2018-10-23 20:11] louisl opened #81 "Question - Should I still have a fk defined $casts?"
I'm converting a schema to use uuids.

In my model I have
[code]

I see in the readme that I should add
[code]
So I'm removing the column `country_id` and replacing it with `country_uuid`.

The question is, do I need to define that in any way in `$casts` or is that replaced for uuids by the `$uuids` array?

[2018-10-23 20:16] vpratfr commented on #81
No need to have that in `$casts`. Just in `$uuids`

[2018-10-23 20:17] #81 closed

[2018-10-23 20:37] louisl commented on #81
Thank you, maybe stick that in the readme for clarity.

[2018-10-24 20:48] vpratfr commented on #44
Closing this. Should be good now.

[2018-10-24 20:48] #44 closed

[2018-10-31 15:43] basepack opened #83 "General error: 1215 Cannot add foreign key constraint when using relations"
Hi,

I am getting this error when running:  `php artisan migrate:refresh --seed`. If I change back to normal ids I do not get this error.

Full error:
`
   Illuminate\Database\QueryException  : SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table `invoicerows` add constraint `invoicerows_invoice_id_foreign` foreign key (`invoice_id`) references `invoices` (`id`)

[2018-10-31 15:55] vpratfr commented on #83
This is the culprit:

    $table->integer( 'invoice_uuid' )->unsigned()->nullable();

Should be

    $table->uuid( 'invoice_uuid' )->nullable();

[2018-10-31 15:58] basepack commented on #83
@vpratfr, great catch! It was a long day I suppose :smile:

[2018-10-31 15:58] #83 closed

[2018-11-07 17:44] alexqhj commented on #52
Any update on this? I'm having trouble finding an elegant solution to validation through form requests that doesn't involve `all()` or similar drastic methods.

I'm looking to validate that a uuid exists in a table. Html doesn't allow the binary version of the uuid so I'll have to convert it.

Edit:
After some more work I found a "sort of elegant" solution.

**In the form request**

    protected

[2018-11-08 08:28] uphlewis opened #84 "Relies on static UUID factory not being changed"
Currently the library sets the static default Uuid factory with OrderedTimeCodec at boot in the package service provider.

The issue is where somewhere else in the application changes the static factory and uses a different codec.

Solution is to register a singleton OrderedTimeCodec in the service container, and resolve the instance whenever it is needed.

Will submit a PR.

Thanks for the librar

[2018-11-08 08:58] brendt commented on #84
Thanks! Feel free to submit a PR.

[2018-11-09 19:46] spencerwasden opened #86 "Lack of "ID" in key name results in exception"
I'm using a legacy schema that won't be modified.  A uuid column named "CreatedBy" does not contain "id" or "uuid", so `getRelatedBinaryKeyName` doesn't return the attribute with suffix.  Commenting out the `preg_match` line and just returning `"{$attribute}{$suffix}"` fixes the issue:

[code]
Since the CreatedBy column is provided in the model's `$uuids` array, should `getRelatedBinaryKeyName` re

[2018-11-12 11:35] uphlewis commented on #84
PR submitted: https://github.com/spatie/laravel-binary-uuid/pull/85

[2018-11-12 11:41] freekmurze commented on #84
We'll continue the conversation in #85

[2018-11-12 11:41] #84 closed

[2018-11-16 11:20] AmirrezaNasiri opened #87 "Can we have an incremental id (for internal relations) too?"
The package handles UUID greatly but using UUID for everything doesn't make sense.

For example, we can use UUID as external key to requested resource and an incremental id to handle internal requests (and relations). But by disabling `$incrementing`, we're unable to have both.

So my question is how is it possible to have an incremental id alongside an optimized UUID and actually use them?

[2018-11-16 13:42] brendt commented on #87
You can always add an auto incremented column for internal use, eg. for relations.

[2018-11-16 13:42] #87 closed

[2018-11-16 14:20] steintoon opened #88 "Relation model saving causes "UTF-8" Error"
I'm struggling with relationship models which contains uuid. Trying to save model which has uuid as FK.
Saving model gives "Malformed UTF-8 characters, possibly incorrectly encoded" as a response.

Model looks like:

[code]
Controller function looks like:

[code]

Is there any workaround saving with uuid as FK?
Thanks.

[2018-11-26 14:33] thannaske opened #89 "Conflict with Laravel Telescope"
There is a problem using this package together with Laravel Telescope as it's overwriting the Blueprint's UUID method. When using this package Laravel Telescope does not work anymore.

(see: https://github.com/laravel/telescope/issues/332)

[2018-11-26 14:46] brendt commented on #89
If we ever get around making a v2, this problem will be solved. But there's no plans to do that in the immediate future. If the community wants to help, they're welcome to do so.

[2018-11-26 14:46] #89 closed

[2018-11-28 19:03] blakethepatton opened #90 "Disable blueprint override"
Is there a way to disable the blueprint override for uuid fields? Maybe a config var that enables/disables that behavior? I'd rather just create the `bin(16)` columns for now instead of updating all the rest of the UUIDs in the rest of my project as well as any packages we're pulling in that use uuids.

[code]

[2018-11-29 07:54] freekmurze opened #91 "Looking for maintainers / abandonment notice"
Because we don't use this package ourselves anymore we can't justify the work maintaining this package anymore.

If somebody that uses this package heavily and has made previous contributions wants to step up as a maintainer, let me know at freek@spatie.be

If nobody is up for it, we'll abandon this package in a few weeks.

If you have a package that serves as an alternative to this one, let me kn

[2018-11-29 08:12] brendt commented on #90
Because of the many incompatibilities with recent Laravel projects, we've decided it's not feasible anymore to support the package in its current form. You can read more about it here: https://github.com/spatie/laravel-binary-uuid/issues

Your problem could be solved with a proper v2, but we have no plans on making that. You're free to fork the repository and make your own version of this package.

[2018-11-29 08:12] #90 closed

[2018-12-06 15:23] kjfdebruin commented on #91
Hey @freekmurze - thanks for all the amazing work that you do. I discovered this package today, and it looks like the best one available.

Would you mind posting here which package you replaced this one with internally?

[2018-12-06 15:56] freekmurze commented on #91
We'll just keep using this one in an old project. But we don't want to maintain the package anymore. There are no new projects where we're planning to use this package.

[2018-12-06 18:10] fgilio commented on #91
There are also this 2 packages for working with UUIDs in Laravel: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-06 19:21] Willidan commented on #88
Had the same issue. For me this workaround is good:

Any time you insert FK uuid attribute:
`$model->fk_uuid = MyModel::encodeUuid($uuid);`

Then in your MyModel.php add your 'fk_uuid' to $hidden array so it won't be automatically converted:
[code]
In model file also - to get uuid back in human readable format:

[code]
Now any time you convert your model to array or try send it by json it will con

[2018-12-10 09:57] freekmurze commented on #91
@fgilio thanks for the suggestions.

[2018-12-10 09:58] #91 closed

[2018-12-10 09:58] freekmurze commented on #88
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:58] #88 closed

[2018-12-10 09:59] freekmurze commented on #86
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:59] #86 closed

[2018-12-10 09:59] freekmurze commented on #80
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:59] #80 closed

[2018-12-10 09:59] freekmurze commented on #74
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:59] #74 closed

[2018-12-10 09:59] freekmurze commented on #69
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:59] #69 closed

[2018-12-10 09:59] freekmurze commented on #68
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:59] #68 closed

[2018-12-10 09:59] freekmurze commented on #66
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:59] #66 closed

[2018-12-10 09:59] freekmurze commented on #65
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 09:59] #65 closed

[2018-12-10 10:00] freekmurze commented on #61
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 10:00] #61 closed

[2018-12-10 10:00] freekmurze commented on #52
This package has been abandoned. Alternatives: https://github.com/michaeldyrynda/laravel-efficient-uuid & https://github.com/michaeldyrynda/laravel-model-uuid

[2018-12-10 10:00] #52 closed